#socialmedia{
  margin-top: 2rem;
  background-color: #005fa7;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.styleafooteri{
  font-size: 2rem;
}

#links {
  background-color: #f5f5f5;
  display: flex;
  gap: 12rem;
  justify-content: center;
  margin-bottom: 2rem;
}
#socialmedia,.styleafooter,.styleafooter{
  font-size: 2.5rem;
}
#profilef,
#contactf,
#ourservicesf,
#tripplannerf {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  cursor: pointer;
}
.styleafooter{
  font-size: 1.5rem;
}
.styleafooter:link, .styleafooter:visited {
  text-decoration: none;
  color: black!important;
}
/* order matters link visited hover active */
.styleafooter:hover,.styleafooter:active{
  color: #005fa7!important;
  text-decoration: none;
}
#contact div:contains("Contact Us") {
  font-size: 2rem;
}

#copy {
  background-color: #005fa7;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  color: white;
}
