#contactcontent {
  display: flex;
  flex-direction: column;
}
#contactcontent h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #005fa7;
  text-align: center;
  /* margin-top: 1rem; */
  font-weight: 800;
}
#contactcontent hr {
  border-width: 0.2rem;
  border-color: #005fa7;
  width: 20vw;
  margin: auto;
  margin-bottom: 2rem;
}

#contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactformheadp {
  font-size: 2rem;
  font-weight: 600;
}
#contactinfo {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  width: 90vw;
}

#contactinfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/formbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* Adjust the blur value as needed */
  z-index: -1;

  filter: brightness(0.8);
}

#contactinfoleft {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30vw;
}

#contactinfolef1,
#contactinfolef2,
#contactinfolef3,
#contactinfolef4 {
  width: 20vw;
  background-color: #f5f5f559;
  width: 30vw;
  
}
.img1 {
  background-image: url("../../../public/wwd1.png");
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.img2 {
  background-image: url("https://www.samarthyam.com/images/wwd-icon-new.png");
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.img3 {
  background-image: url("https://www.samarthyam.com/images/socialms.png");
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.img4 {
  background-image: url("https://www.samarthyam.com/images/press.png");
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.logoandhead {
  display: flex;
  gap: 2rem;
}
.leftp {
  margin-left: 6rem;
  font-size: 1.5rem;
  color: white;
}
#contactinfoleft h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}
.lefta a {
  margin-left: 6rem;
  font-size: 1.9rem;
  font-weight: 600;
  color: whitesmoke;
}
#contactinforight {
  margin: 5rem;
  width:60vw
}

#contactinforight form {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f559;
  padding: 2rem;
}
form label {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  font-weight: 700;
}
input[type="text"],
input[type="email"]
 {
  width: 37vw;
  height: 4vh;
  font-size: 1.5rem;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover
{
  border: 3px solid #005fa7;
}

textarea {
  width: 37vw;
  height: 10vh;
  font-size: 1.5rem;
  border: none;
}
form button {
  width: 10vw;
  height: 4vh;
  background-color: #005fa7;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 20rem;
}
form button:hover {
  cursor: pointer;
  color: #f5f5f5f5;

}

