html {
  font-size: 62.5%;
}

#homecontent {
  overflow-y: scroll;
  /* filter: grayscale(100%); */
  /* filter: contrast(30%); */
   /* filter: brightness(50%);  */
}
/* scroll bar */
::-webkit-scrollbar {
  width: 0px;
}

/* image  */
#homeimage {
  position: relative;
  left: 0px;
  top: 0px;
}
#hmimgcnt {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
/* right button */
#rghthmimgbtn {
  z-index: 5;
  position: absolute;
  left: 96vw;
  top: 13rem;
  cursor: pointer;
  background: url("../../../public/arrowright.png") no-repeat 0 0;
  width: 40px;
  height: 40px;
  border: none;
}
#rghthmimgbtn:hover {
  filter: brightness(0.8);
}
/* left button */
#lfthmimgbtn {
  z-index: 5;
  position: absolute;
  left: 1vw;
  top: 13rem;
  cursor: pointer;
  background: url("../../../public/arrowleft.png") no-repeat 0 0;
  width: 40px;
  height: 40px;
  border: none;
}
#lfthmimgbtn:hover,#lfthmimgbtn:focus {
  filter: brightness(0.8);
  
}

/* vision mission and objective */

#homevmo {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

/* welcome to sahayak */
#vmoh2 h2 {
  font-size: 2.5rem;
  width: 20vw;
  border-bottom: 4px solid #005fa7;
  margin: auto;
}
/* container for containers of vision mission and objective */
#vmo {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*  containers of vision mission and objective */
#v,
#m,
#o {
  background-color: #005fa7;
  padding: 2rem;
  color: white !important;
  
  width: 20vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#v h2,
#m h2,
#o h2 {
  font-size: 1.5rem;
  color: white !important;
  font-size: 2rem;
  font-weight: 700;
  

}
#v p,
#m p,
#o p {
  font-size: 1.5rem;
  color: white !important;
  font-weight: 500;

}

/* what we do container */
#homewwd {
 
  display: flex;
  justify-content: center;
  gap: 3rem;
}

#homewwdleft,
#homewwdright {
  width: 30vw;
}
/* for heading and icon left box and right box repectively */
#iconandheadingl,
#iconandheading2 {
  display: flex;
  gap: 2rem;
}
/* for icon left box */
#iconandheadingl div {
  background: url("../../../public/wwd1.png") no-repeat 0 0;
  width: 4vw;
  height: 4vw;
  background-size: cover;
}

/* for icon right box */
#iconandheading2 div {
  background: url("../../../public/wwd2.png") no-repeat 0 0;
  width: 3.5vw;
  height: 3.5vw;
  background-size: cover;
}
/* for heading of left box and right box repectively*/
#iconandheadingl p,
#iconandheading2 p {
  font-size: 2rem;
}

#contentl,
#content2 {
  font-size: 1.5rem;
  margin-left: 5vw; /*equla to length of logo + gap between logo and heading*/
}

#videoandwherewework {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 30rem;
}

#video {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
#video video {
  width: 24vw;
  height: 16vw; /*vw so as to make it square*/
}
#wherewework {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#wherewework div {
  background-image: url("../../../public/whereweworkimg.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 30vw;
  height: 100%;
}

#video h2,
#wherewework h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid #005fa7;
}
