
#headdash{
    height: 6.4rem;
    color: white;
    background-color: #005fa7;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    text-indent: 1.6rem;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    font-family: garamond;
    font-weight: 700;
}

.homedashbtn{
    
    border: none;
    background-color: white;
    color:  #005fa7;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    padding-right: 1rem;
    
}
#maincontent{
    display: flex;
   
    width: 100vw;
    
}
#leftnavdash{
    
    width: 19.5vw;
   
    
}
.divleftdash{
    width: 100%;
  
  font-size: 1.6rem;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: white;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: calc(24px * 1);
   padding-right: 12px;
   border: none;
   text-align: left;
   border-radius: 1rem;
  
}

.divleftdash:focus,.divleftdash:hover{
    border-left: 5px solid #005fa7;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92));
    background-color: #005fa7;
    /* both background color and image are giving that texture combined */

    
}
#rightcontentdash{
    width: calc(100vw - 19.5vw);
    padding-left: 2rem;
}
