* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* body{
    filter: invert(0.7);
} */

#navbar {
  position: sticky;
  top: 0;
  z-index: 15;
}
#nav-ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

/*  */
#topnav {
  display: flex;
  z-index: 5;
  background-color: #f5f5f5;
}

/* logo and image */

#lefttopnav {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}
#lefttopnav img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: 0.5rem;
}
#lefttopnav p {
  font-size: 3.5rem;
  font-weight: 600;
  color: #005fa7;
  font-family: garamond;
}
#lefttopnav p::before{
  content: '|| ';
  font-size: 3rem;
}

/* search bar */
#righttopnav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.search i {
  font-size: 1.5rem;
  color: #000000;
}
.search {
  background-color: white;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  border: 2px solid #d6d4d4;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.search:hover {
  border-color: #005fa7;
}
.search input {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
}
.textNavbar {
  width: 25vw;
  border: none;
}
.textNavbar:hover {
 
  border: none!important;
}
.search button {
  border: none;
  background-color: #005fa7;
  color: white;
  padding: 0.5rem;
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
}
.search button:hover {
  cursor: pointer;
  color: #f5f5f5df;
}
.search button:hover,.search button:focus{
  background-color: #005fa7 !important;
  cursor: pointer;
}


/*  */

#bottomnav {
  display: flex;
  background-color: white;
  box-shadow: 0 3px 5px rgb(0 0 0 / 14%);
}

/* home etc */

#leftbottomnav {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 12rem;
}
#leftbottomnav a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  margin: 0.5rem;
}
#leftbottomnav li {
  list-style-type: none;

  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  margin: 0.5rem;
}
#leftbottomnav li :hover,
#leftbottomnav div li:hover {
  /*#leftbottomnav div li for drop down as it is not directly inside id coniner it is inside id container then div then li*/
  color: #005fa7;
}

/* trip guider */
#plan ul,
#ourservices ul {
  background-color: white;
  margin: 0px;
  padding: 2rem;
  position: absolute;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  /* gap: 1rem; */
}
#plan ul li,
#ourservices ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  font-size: 1.5rem;
  width: 15rem;
  text-align: center;
  font-weight: 600;
}
#plan ul li:hover,
#ourservices ul li:hover {
  background-color: #005fa7;
  color: white;
  cursor: pointer;
}

/* profile */
#rightbottomnav {
  margin-left: auto;
  position: relative;
  width: 23rem;
}

#rightbottomnav img {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  margin: 0.5rem;
  margin-left: 8rem;
}
#rightbottomnav ul {
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  gap: 1rem;
}
#rightbottomnav ul li {
  display: flex;
  align-items: cetner;
  justify-content: center;
  background-color: white;
  font-size: 1.5rem;
  width: 15rem;
  text-align: center;
  font-weight: 600;
}
/* mentioning padding to li will cause that padding region to turn text to black as hovering color is to only a tag */

#rightbottomnav ul li a{
  padding: 0.5rem;
  color: black;
  text-decoration: none;
}
#rightbottomnav ul li:hover,#rightbottomnav ul li button:hover {
  background-color: #005fa7;
  color: white!important;
  cursor: pointer;
}

#rightbottomnav ul li a:hover {
 color: white !important;
 text-decoration: none;
}

#rightbottomnav ul li button{
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
}



/* responsiveness */

@media (min-width: 800px) {
  /* no changes */
}
@media (min-width: 764px) and (max-width: 800px) {
  #lefttopnav p {
    font-size: 2.5rem;
  }
  #lefttopnav img {
    height: 5.5rem;
    width: 5.5rem;
  }
}
@media (min-width: 630px) and (max-width: 764px) {
  #leftbottomnav {
    gap: 1rem;
    margin-left: 4rem;
  }
  #lefttopnav p {
    font-size: 2.5rem;
  }
  #lefttopnav img {
    height: 5rem;
    width: 5rem;
  }
  #rightbottomnav {
    
    width: 20rem;
  }
}
