*{
    margin: 0px;
    padding: 0px;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#topnav{
    display: flex;
    background-color: #eee8e8d0;
}
#righttopnav{
    margin-left: auto;
}
#nav-ul{
    list-style-type: none;
   display: flex;
   gap: 2rem;
}