* informationcard1.css */

/* Styles for the information card container */
.information-card {
  border: 2px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  height: 80%;
  background-color: white;
  padding: 1rem;
}

/* Styles for the profile section */
.profile-section {
  display: flex;
  align-items: center;
}

/* Styles for the profile photo */
.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* Styles for the driver information section */
.driver-info {
  font-weight: bold;
  color: black;
}

/* Styles for the driving information section */
.driving-info {
  margin-top: 1rem;
}

.driving-info p {
  color: black;
}

/* Styles for the confirm button */
.confirm-button {
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 7px;

  font-size: 2rem; /* Increase font size */
  padding: 0.5rem 1rem; /* Increase padding for a larger button */
}


/* Styles for hover effect on confirm button */
.confirm-button:hover {
  background-color: #0056b3;
}

/* Styles for the current location */
/* .current-location {
  font-style: italic;
} */

#infsevice2{display:"none"};
